{% extends 'base.html.twig' %}

{% block title %}{{ post.title}} | Blog{% endblock %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../assets/img/post/{{ post.picture }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title}}</h1>
                        <h2 class="subheading">{{ post.subtitle}}</h2>
                        <span class="meta">Posté le {{ post.updatedAt|date("d/m/Y") }} par {{ aboutMe.firstname }} {{ aboutMe.lastname }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>{{ post.content|nl2br }}</p>
                    {% if session is not empty %}
                        <h5>Quel est ton avis ?</h5>
                        <form name="sentMessage" id="contactForm" novalidate method="POST" action="/article/{{ post.id }}/commentaire">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label for="comment">Message</label>
                                    <textarea name="comment" rows="5" class="form-control" placeholder="Commentaire" id="comment" required data-validation-required-message="Ecris ton commentaire !"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
                        </form>
                    {% endif %}
                    <br>
                    <hr>
                    <h4>Commentaires</h4>
                    <br>
                    <ul class="list-unstyled">
                        {% for comment in comments %}
                        <li class="media comment-container">
                            {% if comment.user.profilPicture is not empty %}
                            <img class="mr-3 comment-user-picture" src="../../assets/img/user/profil_picture/{{ comment.user.profilPicture }}" alt="User profil picture">
                                {% else %}
                                    <img class="mr-3 comment-user-picture" src="../../assets/img/user/profil_picture/user-unknown.png" alt="User profil picture">
                            {% endif %}
                            <div class="media-body">
                                <h5>{{ comment.user.pseudo }}</h5>
                                <h6 class="comment-date">{{ comment.createdA|date("d/m/Y") }}</h6>
                                <p class="comment-content">{{ comment.content }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </article>
    <hr>
{% endblock %}

{% block script %}
    <!-- Contact Form JavaScript -->
    <script src="../../assets/js/jqBootstrapValidation.js"></script>
{% endblock %}